/* Font Classes  */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */
.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 15vw;
  font-weight: 800;
}

.subHeader {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
  margin-bottom: 0;
}

.smallFont{
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
  font-weight: 400;
}

.faq-font {
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.paraFont {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2vw;
  font-weight: 400;
  margin-bottom: 0;
}
/* Font Classes End */

/* Utility Classes */

.fa-plus:before {
  font-size: 15px;
  -webkit-text-stroke: 1px white;
}

.fa-minus:before {
  font-size: 15px;
  -webkit-text-stroke: 1px white;
}

.c_container {
  margin-top: 2vw;
}

.flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: fit-content(100%) fit-content(100%);
}

/* Utility Classes End */

/* Image Classes */
.title-img{
  height: auto;
  max-width: 35vw;
}
/* Image Classes End */

/* HTML Tags */
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection{
  background: white;
}
/* HTML Tags End*/

/* Generalization */

.about .flex, .about2 .flex {
  flex-direction: column;
}

/* Generalization ends */


/*Navbar Start*/

ul {
  list-style-type: none;
}

.nav-flex {
  margin-top:1rem;
  display: flex;
  gap: 7rem;
}

.primary-header{
  border-radius: 5px;
  padding:0.3rem 5rem 1rem 1rem;
  position:fixed;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: space-between;
  background:hsl(0 0% 100% / 0.1);
  backdrop-filter: blur(1rem);
  }

.primary-navigation a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-decoration: none;
  border-radius: 30px;
  color: black;
}

/*Navbar End*/

/* about section 1 */
.aboutSec1 {
  color: white;
  position: relative;
}

.aboutContent {
  bottom: 5%;
  left: 5%;
  position: absolute;
  width: 35%;
}

.aboutSec1 .title {
  margin: 30vh 0;
}

.about .flex {
  align-items: flex-start;
}

.title-1, .title-2, .zero {
  background-image: url("./Images/leavesBg.png");
}

.title-1, .title-2 {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30%;
  padding-bottom: 20%;
  padding-top: 30%;
}

.title-1 {
  padding-left: 15vw;
}

.title-2 {
  padding-right: 15vw;
  padding-left: 1vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* about section 1 ends */

/* about section 2 */
.about2 .flex {
  gap: 5vh;
  margin-top: 8rem;
}

.about2 .grid {
  column-gap: 2%;
  width: 70%;
  text-align: center;
}

.zero {
  background-position: center;
  background-size: contain;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.one {
  color: white;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
}

.sec2gridi{
  margin: 0 auto;
  width: 5vw;
}

.sec2gridc, .sec2Content {
  text-align: center;
}

.sec2Content {
  width: 70%;
}

/* Plant card Starts */

.AboutAllPlantCards{
  display: flex;
  justify-content: center;
  margin: 8% auto 0;
  width: 95%;
}


.plantCard-img-body{
  position: relative;
  height:10rem;
  }
  .plantCard-img{
    width: 100%;
    position: absolute;
    left: 4.5rem;
    bottom: 0.5rem;
  }
  .plantCard-type-img{
    width: 20%;
  position: top left;
  }


  .plantCard-body{
    display: inline-block;
    position: relative;
    padding:1rem;
    margin:2rem 2rem;
    align-items:center;
    border-radius:20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 14rem;
    height: auto;
  }
  .plantCard-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    color: green;
    padding: 3%;
  }

  .plantCard-Price{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size:1.2rem;
    padding:0 3%;
  }

  .plantCard-Add-to-cart-btn button{
    position: absolute;
    bottom: 0;
    right: 22%;
    border: none;
    margin: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    color: white;
    background-color:rgba(255, 153, 0,1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding:3% 10%;
    border-radius: 18px;
    opacity: 0;
    transition: 1s;
  }

  .plantCard-Add-to-cart-btn p{
    transition: 1s;
    opacity: 0.8;
    padding:0 0 1rem 0.7rem
  }

  .plantCard-info p{
    padding:5% 5% 5% 3%;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    opacity: 0.8;
    transition: 500ms;
  }

  .plantCard-body :hover > .plantCard-info p{
    transform:translateY(20%);
    opacity:0;
  }


  .plantCard-body :hover > .plantCard-Add-to-cart-btn button{
    opacity: 1;
    transform:translateY(-80%);
  }
  .plantCard-body :hover > .plantCard-Add-to-cart-btn p{
    opacity: 0;
    transform:translateY(50%);
  }

/*Carousel Start*/
.carousel-indicators {
  opacity: 0;
}
.carousel-control-prev-icon{
  opacity: 0;
}

.carousel-control-next-icon{
  opacity: 0;
}
/*Carousel Ends*/


  /* Plant card Ends */

/* about section 2 ends */



/* Type card component div starts */
.TypeCardComp .flex {
  flex-direction: column;
}

.CardHolder {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
}

.TypeCard {
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  margin: 0 2%;
  padding: 2%;
  transition: 0.4s;
  width: 15%;
}

.TypeCardImage {
  width: 3vw;
  height: auto;
}

.TypeCard .subHeader {
  font-size: 1.1vw;
  margin-bottom: 2%;
}

.TypeCardContent .paraFont {
  font-size: 0.9vw;
  line-height: 1.2;
  text-align: center;
}


/* Type card component div ends */

/* FAQ */

.faq .c_container {
  max-width: 80vw;
  margin: auto;
}

.c_container-faq {
  margin: 2rem auto;
  padding: 0 10%;
  max-width: 80%;
}

.FAQ {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-item {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 1.25rem;
  cursor: pointer;
  margin: 1rem auto;
}

.question-item h2 {
  margin: 0;
}

.question-item .paraFont {
  font-weight: 500;
}

.answer-item {
  line-height: 1.5rem;
}





/* FAQ */

/* Quote */

.quote-main-page {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 2rem auto;
  padding: 2% 20%;
}

.quote-content {
  font-weight: lighter;
  text-align: center;
}

/* Quote ends */

/* Search */

.search-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem;
}

.search-content .subHeader, .search-content .paraFont {
  margin-bottom: 1.5vh;
}

.search-content p {
  font-weight: light;
}

.search-input {
  width: 80%;
  display: flex;
}

.searchBar{
  width: 100%;
  padding: 10px;
  height: 35px;
  border-radius: 0;
  border-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.searchBar:focus{
  color: #468B5B;
  outline: none;
}

.searchButton {
  width: 99px;
  height: 35px;
  border: 1px solid #468B5B;
  background: #468B5B;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Search ends */



/* Footer Section */
.footer {
  margin: 5% auto 0;
}

.footer .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    height: 100%;
  }

footer {
    position: relative;
    background-color: rgba(70, 139, 91, .27);
    padding: 5rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 2em;
}

footer ul{
    list-style-type: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

footer li{
    display: inline-block;
}


.c_col a {
    color: black;
}

footer i{
    margin: 0 1rem 0 0;
}

.c_col{
    height: 100%;
}

.c_row{
    width: 100%;
}

.plantaeBottom{
    position: absolute;
    right: 0;
    bottom: 3vh;
    height: 80%;
}

footer p{
    opacity: 20%;
}

/* Footer Section Ends */

/* Media Queries */

@media only screen and (max-width: 1200px) {
  /* Font Classes  */

  .TypeCardContent .paraFont{
    font-size: 1.1vw;
  }

  .TypeCard .subHeader {
    font-size: 1.4vw;
  }
  /* Font Classes End */

  /* About Section  */
    .aboutContent {
      bottom: 10%;
    }
  /* About Section Ends */

  /* TypeCardComp Starts */

  .TypeCard {
    border-radius: 15px;
    height: 20vw;
    width: 20%;
  }

  /* TypeCardComp Ends */


}

@media only screen and (max-width: 998px) {

  /* Font Classes  */

  /* Font Classes End */

  /* About Section */

  .aboutSec1 {
    height: 50vh;
  }

  .aboutContent {
    bottom: 0%;
  }

  /* About Section Ends */

  /* About Section 2 */

  .about2 .flex {
    margin-top: 5rem;
  }

  /* About Section 2 Ends */

  /* Footer Section */

  footer {
    font-size: 0.8rem;
  }

  /* Footer Section Ends */

}

/*Navbar Starts*/
.nav-flex {
  gap: 4rem;
  margin-top:0.7rem;
}

.primary-header{
  z-index: 1;
  padding-right: 0.9rem;
}
/*Navbar Starts*/

@media only screen and (max-width: 768px) {

  /* Font Classes Start */

  .subHeader {
    font-size: 3vw;
  }

  .paraFont {
    font-size: 1.5vw;
  }

  /* Font Classes End */

 /*Navbar Starts*/
 .nav-flex {
  margin-top: 0.5rem;
  gap: 2rem;
}

.primary-header{
  padding-right: 0.7rem;
}

.primary-navigation a{
  font-size:0.9rem;
}
/*Navbar Starts*/

/* about section 1 starts */
.aboutContent{
  color: black;
  left: 0;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: -4rem;
  width: 50%;
}
/* about section one ends */

/* about section2 starts */

.about2 .flex {
  gap: 2em;
  margin-top: 5rem;
}

.about2 .grid {
  column-gap: 0%;
  row-gap: 10%;
  width: 80%;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 2rem;
}

/* about section2 ends */

/* TypeCardComp Section */

.TypeCard .subHeader {
  font-size: 1.6vw;
  margin-bottom: 2%;
}

.TypeCard .paraFont {
  font-size: 1.1vw;
}

.TypeCard {
  border-radius: 15px;
  margin: 1% 6%;
  height: 20vw;
  width: 25%;
}


.CardHolder {
  flex-wrap: wrap;
}

/* TypeCardComp Section Ends */

/* Footer Section */

footer{
  padding: 1rem;
  font-size: 0.5rem;
}

.smallFont{
  font-size: 1.5vw;
}

.footer .grid{
  grid-template-columns: 1.6fr 1.1fr 1fr;
}

.socials {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Footer Section Ends */

}

@media only screen and (max-width: 650px) {
  /* About Section 1 */
  .title-1 {
    padding-left: 5rem;
  }

  .aboutContent{
    top: -6rem;
  }

  /* About Section 1 Ends */

  /* About Section 2 */

  .sec2gridi {
    width: 10vw;
  }

  /* About Section 2 Ends */

  /* TypeCardComp Starts */
  .TypeCardImage {
    width: 6vw;
  }

  .TypeCard .subHeader {
    font-size: 3.5vw;
  }

  .TypeCard .paraFont {
    font-size: 2.2vw;
  }

  .TypeCard{
    margin: 2% 15%;
    padding: 5%;
    height: 40vw;
    width: 50%;
  }


  /* TypeCardComp Ends */
}

@media only screen and (max-width: 425px) {
  /* Font Classes Start */

  .subHeader {
    font-size: 4vw;
  }

  .paraFont {
    font-size: 2.5vw;
  }

  /* Font Classes End */

  /* About Section 1 */
  .title-1 {
    padding-left: 3rem;
  }

  .title-1, .title-2 {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    padding-bottom: 20vh;
    padding-top: 20vh;
  }

  .aboutContent{
    top: -3rem;
  }
  /* About Section 1 Ends */

  /* About Section 2 */

  .about2 .flex {
    gap: 0;
    margin-top: 6rem;
  }

  /* About Section 2 Ends */

  /* TypeCardComp Starts */
  .TypeCardImage {
    width: 6vw;
  }

  .TypeCard .subHeader {
    font-size: 3.5vw;
  }

  .TypeCard .paraFont {
    font-size: 2.2vw;
  }

  /* TypeCardComp Ends */

  /* FAQ */

  .c_container-faq {
    margin: 2rem auto;
    padding: 0 10%;
    max-width: 60vw;
  }

  .question-item {
    line-height: 1.25rem;
    margin: 1rem auto;
    display: flex;
    align-items: center;
  }

  /* FAQ */

  /* Quote */

  .quote-main-page {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 2rem auto;
    padding: 2% 20%;
  }

  .quote-content {
    font-weight: lighter;
    text-align: center;
  }

  /* Quote ends */

  /* Search */

  .fa-search::before {
    font-size: 15px;
    top: 3px
  }

  .searchBar{
    height: 25px;
  }

  .searchButton {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Search bar ends */

  /* Footer section */

  footer h4 {
    font-size: 0.8rem;
  }

  /* Footer Section Ends */

}

/* Media Queries End */
