
/* FAQ */

.container-faq {
  margin: 2rem auto;
  padding: 0 10%;
  width: 90%;
  max-width: 80vw;
}

.FAQ {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.question-item {
  display: flex;
  align-items: center;
  line-height: 1.25rem;
  cursor: pointer;
  /* margin: 1rem auto; */
}

.answer-item {
  line-height: 1.5rem;
  font-weight: bold;
}





/* FAQ */

/* Quote */

.quote-main-page {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 2rem auto;
  padding: 2% 20%;
}

.quote-content {
  font-weight: lighter;
  text-align: center;
}

/* Quote ends */

/* Search */

.search-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem;
}

.search-content h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.search-content p {
  font-size: 1.5rem;
  font-weight: light;
}

.search-input {
  width: 80%;
  display: flex;
}

.searchBar{
  width: 100%;
  padding: 10px;
  height: 25px;
  border-radius: 0;
  border-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.searchBar:focus{
  color: #468B5B;
  outline: none;
}

.searchButton {
  width: 99px;
  height: 50px;
  border: 1px solid #468B5B;
  background: #468B5B;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Search ends */
